<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <userSettings>
        <SourceTree.Properties.Settings>
            <setting name="FileStatusFilter" serializeAs="String">
                <value>65278</value>
            </setting>
            <setting name="SuppressWarningOnEmptyCommit" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="MainWindowWidth" serializeAs="String">
                <value>916</value>
            </setting>
            <setting name="MainWindowHeight" serializeAs="String">
                <value>548</value>
            </setting>
            <setting name="MainWindowState" serializeAs="String">
                <value>Normal</value>
            </setting>
            <setting name="LogOrdering" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="LogIncludeRemoteBranches" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="MainWindowLeft" serializeAs="String">
                <value>302</value>
            </setting>
            <setting name="MainWindowTop" serializeAs="String">
                <value>114</value>
            </setting>
            <setting name="GitWhichOne" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="DefaultFullName" serializeAs="String">
                <value>1579404542@qq.com</value>
            </setting>
            <setting name="DefaultEmail" serializeAs="String">
                <value>1579404542@qq.com</value>
            </setting>
            <setting name="LastOpenTabIndex" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="AnonymousID" serializeAs="String">
                <value>b074a7d7-0d00-4f67-b659-fd2121817b11</value>
            </setting>
            <setting name="LastCheckedNews" serializeAs="String">
                <value>10/16/2019 14:10:33</value>
            </setting>
            <setting name="DiffTool" serializeAs="String">
                <value>6</value>
            </setting>
            <setting name="MergeTool" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="AgreedToEULA" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AgreedToEULAVersion" serializeAs="String">
                <value>20160201</value>
            </setting>
            <setting name="LastSSHKeyPath" serializeAs="String">
                <value>C:\Users\Administrator\.ssh\id_rsa</value>
            </setting>
            <setting name="SSHClientType" serializeAs="String">
                <value>OpenSSH</value>
            </setting>
            <setting name="AutoStartSSHAgent" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ProxyServerMode" serializeAs="String">
                <value>OperatingSystem</value>
            </setting>
            <setting name="HgWhichOne" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="EnableGitSupport" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="EnableHgSupport" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="HgPostPullAction" serializeAs="String">
                <value>Update</value>
            </setting>
            <setting name="GitCommitMergedChangesImmediately" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="MainWindowScreenDeviceName" serializeAs="String">
                <value />
            </setting>
            <setting name="Language" serializeAs="String">
                <value />
            </setting>
            <setting name="AnalyticsHasAgreed" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="OfferToCreateBookmarks" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="FileStatusSort" serializeAs="String">
                <value>4</value>
            </setting>
            <setting name="CommitPaneHeight" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="IsURIAssociated" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AasLastSubmitted" serializeAs="String">
                <value>10/16/2019 16:15:05</value>
            </setting>
            <setting name="LegacyAccountPersistenceServiceLoadEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="GitSystemPath" serializeAs="String">
                <value>D:\work\Git\Git</value>
            </setting>
            <setting name="HgSystemPath" serializeAs="String">
                <value>C:\Users\Administrator\AppData\Local\Atlassian\SourceTree\hg_local</value>
            </setting>
            <setting name="SidebarIsOpen" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AnalyticsLastUploadDate" serializeAs="String">
                <value>10/16/2019 14:15:55</value>
            </setting>
            <setting name="IgnoreFilePattern" serializeAs="String">
                <value>*package-lock.json,*gemfile.lock,*podfile.lock,*cartfile.resolved</value>
            </setting>
            <setting name="MergeCustomArgs" serializeAs="String">
                <value />
            </setting>
            <setting name="DiffCustomArgs" serializeAs="String">
                <value>\"$LOCAL\" \"$REMOTE\"</value>
            </setting>
            <setting name="HgUserEnabledExtensions" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" />
                </value>
            </setting>
            <setting name="DiffCustomCmd" serializeAs="String">
                <value>D:\work\BeyondCompare4\Beyond Compare 4\BComp.exe</value>
            </setting>
            <setting name="MergeCustomCmd" serializeAs="String">
                <value />
            </setting>
            <setting name="PreviousCommitMessages" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
                        <string>修改文件</string>
                        <string>通过sourcetree 删除lhb.txt lyx.txt 并提交到远端仓库</string>
                        <string>通过sourcetree 提交一份lyx.txt</string>
                        <string>测试</string>
                        <string>热尔</string>
                        <string>本地第一次暂存文件提交</string>
                    </ArrayOfString>
                </value>
            </setting>
        </SourceTree.Properties.Settings>
    </userSettings>
</configuration>